<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/registro.css">
    <link rel="icon" href="../assets/imagenes/piepagina.png">
    <title>PETS / INICIO</title>
</head>
<body class="body">
    <section class="form-login">
        <!--campos de login-->
        <h3>LOGIN</h3>
        <input class="inputs" type="email" name="correo" id="correos" placeholder="ingrese su correo" >
        <input class="inputs" type="password" name="contraseña" id="contraseña" placeholder="ingrese su nombre" >
        <p>¿Desea volver? <a href="../index2.html">Volver al inicio</a></p>  <p>¿No se ha registrado? <a href="registro.html">Registrarse</a></p>
        <button class="button_iniciar" type="submit" value="">Iniciar</button>
        
    </section>
</body>
</html>